.google h1 {
    position: absolute;
    bottom: 7rem;
    right: 2rem;
    color: rgba(22, 26, 29, .8);
    z-index: 3;
    margin: 0;
    padding: 0;

}

.search {
    position: fixed;
    top: 3.8rem;
    color: rgba(22, 26, 29, .8);
    z-index: 14;
    margin: 0;
    padding: 0;


}



